sonoda/noken/noken_0_50_selected/
sonoda/noken/sonoda/
sonoda/noken/noise_remove.ipynb
sonoda/noken/makeall.sh
sonoda/orchid/Orchid_16_selected/
sonoda/orchid/sonoda/
narodata.tgz
Orchid-sonoda.tgz
Orchid.tgz
scraping/
orchid/.ipynb_checkpoints/
noken/.ipynb_checkpoints/
orchid/fc_sequence/model*
orchid/refined_images_orchid/
orchid/sensor_data/
auto/
orchid/fc_sequence_cp1/
orchid/fc_sequence_cp2/
noken/fc_sequence?/
orchid/fc_sequence?/
